---
import RandomDogBG from "../components/RndmDogBG.astro";
import "../styles/theme.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>NM.Dev-Sandbox</title>
		<style>
			@font-face {
				font-family: 'Hubot Sans';
				src: url('./assets/fonts/Hubot-Sans.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
			}
		</style>
	</head>
	<body>
		<!-- <RandomDogBG /> -->
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Hubot Sans', sans-serif;
	}
    body {
        position: relative;
    }
	.dog-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
</style>
